

.widget-gridster {
    height: 100%;
    width: 100%;
    min-height: 180px;
    // font-size: 16px;
    color: black;
}

.widget-gridster-heading {
    background-color: rgb(184, 202, 247);
    color: white;
    height: 37px;
    padding-top: 2px;
    // font-size: 15px;
    line-height: 32px;
}

.widget-gridster-icon {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.widget-gridster-chart-body {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // border-bottom: 40px solid white;
    min-height: 180px;
}

.widget-gridster-table-body {
    position: absolute;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-right: 15px solid white;
    border-bottom: 50px solid white;
    overflow: auto;
    min-height: 180px;
}

.widget-gridster-chart-body .fa-spin {
    position: absolute;
    left: 10px;
    top: 10px;
}

.widget-gridster-table-body .fa-spin {
    position: absolute;
    left: 10px;
    top: 10px;
}

.widget-gridster-table-view {
    // position: absolute;
    // overflow: auto;
    // margin-right: 10px;
    // padding-right: 10px;
}

.widget-gridster-chart-view {
    background-color: rgba(255,255,255,.7);
    // position: absolute;
    right: 5px;
    bottom: 38px;
    padding: 10px;
    border: 1px solid white;
    // overflow: auto;
    // border-bottom: 40px solid white;
}
