
<!-- <div class="wwa-temperature-widget" ng-controller="OhlcWidgetController as vm"> -->
<div class="widget-gridster">

    <!-- TODO perhaps consolidate ohlc, strategys and strategies
          into a single 'chart.html' -->

    <div class="widget-gridster-heading">
      <!-- <h3>{{ widget.name }}</h3> -->
      <!-- <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>{{ vm.selectedSymbol }}<span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="single-button">
          <li ng-repeat="symbol in vm.symbols">
            <a href ng-click="vm.selectSymbol(symbol)">{{ symbol }}</a>
          </li>
        </ul>
      </div> -->

      <form class="form-inline">
        <!-- <div class="btn-group" uib-dropdown>
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>{{ vm.selectedStrategy.name }}<span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="single-button">
            <li ng-repeat="strategy in vm.strategies">
              <a href ng-click="vm.selectStrategy(strategy)">{{ strategy.name }}</a>
            </li>
          </ul>
        </div> -->

        <!-- dont use self-close tags for directives! -->
        <strategy-picker selected-strategy="vm.strategy"></strategy-picker>
        <symbol-picker selected-symbol="vm.symbol"></symbol-picker>
      </form>

    </div>

    <!--<div class="wwa-temperature-body" style="background-image: url(/images/{{selectedLocation.image}});">-->
    <!-- This fixes the image error because it tries to bind the source before selectedLocation is set -->
    <div class="widget-gridster-chart-body">
        <div ng-if="vm.status == vm.Status.LOADING">
            <!-- fa-spin -->
            <i class="fa fa-refresh fa-2x"></i>
        </div>
        <div ng-if="vm.status == vm.Status.LOADED" class="widget-gridster-chart-view">
          <nvd3 options='vm.chart.options' data='vm.chart.data' config='vm.chart.config'></nvd3>
        </div>
        <div ng-if="vm.status == vm.Status.ERROR">
            <h4>Error loading widget.</h4>
            <button class="btn btn-primary" ng-click="vm.reload()">Reload</button>
        </div>
    </div>

</div>
