<div class="page-header">
	<a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
	<a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
	<h1 style="display: inline-block; width: 200px;">Dashboard</h1>
	<select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2array | orderBy:'id'">
	</select>
</div>

<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<!-- <h3>{{ widget.name }}</h3> -->
					<div class="btn-group" uib-dropdown>
						<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>{{selectedSymbol}}<span class="caret"></span></button>
						<ul class="dropdown-menu" aria-labelledby="single-button">
							<li ng-repeat="symbol in symbols">
								<a href ng-click="selectSymbol('{{symbol}}')">{{symbol}}</a>
							</li>
						</ul>
					</div>

					<div class="box-header-btns pull-right">
						<a title="OHLC"       ng-click="addOHLC(widget)"><i class="glyphicon glyphicon-pencil"></i></a>
						<a title="indicators" ng-click="addIndicators(widget)"><i class="glyphicon glyphicon-random"></i></a>
						<a title="strategies" ng-click="addStrategies(widget)"><i class="glyphicon glyphicon-file"></i></a>

						<a title="settings"      ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>

 <!-- style="width: 32%; margin-bottom: 10px; display:inline-block;" -->

				<div class="box-content">

					<div class="btn-group" uib-dropdown ng-if="typeIndicators">
			      <button id="single-button" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>{{selectedIndicator.name}}<span class="caret"></span></button>
			      <ul class="dropdown-menu" aria-labelledby="single-button">
							<li ng-repeat="indicator in indicators">
								<a href ng-click="selectIndicator('{{indicator}}')">{{indicator.name}}</a>
			        </li>
			      </ul>
			    </div>

					<div class="btn-group" uib-dropdown ng-if="typeStrategies">
			      <button id="single-button" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>{{selectedStrategy.name}}<span class="caret"></span></button>
			      <ul class="dropdown-menu" aria-labelledby="single-button">
							<li ng-repeat="strategy in strategies">
			          <a href ng-click="selectStrategy('{{strategy}}')">{{strategy.name}}</a>
			        </li>
			      </ul>
			    </div>

					<!-- <select class="dropdown-menu dropdown-menu-right" style="display: inline-block;"
						ng-change="selectSymbol()" ng-model="selectedSymbol" ng-options="symbol for symbol in symbols"></select>
					<select class="dropdown-menu dropdown-menu-left" style="display: inline-block;"
						ng-change="selectIndicator()" ng-model="selectedIndicator" ng-options="indicator for indicator in indicators"></select>
					<select class="dropdown-menu" style="display: inline-block;"
						ng-change="selectStrategy()" ng-model="selectedStrategy" ng-options="strategy for strategy in strategies"></select> -->

					<nvd3 options='options' data='data' api="api" config='config'></nvd3>

					<!-- TODO is there a better way of switching widget content than ng-if? -->

					<!--
					<div ng-if="typeOHLC">
						<nvd3 options='options' data='data' api="api" config='config'></nvd3>
					</div>
					<div ng-if="typeIndicators">
						<nvd3 options='options' data='data' api="api" config='config'></nvd3>
					</div>
					<div ng-if="typeStrategies">
						<nvd3 options='options' data='data' api="api" config='config'></nvd3>
					</div>
				</div>
			-->

				<!--
					<table st-table="rowCollection" class="table table-condensed table-responsive">
						<thead>
						<tr>
							<th>Action</th>
							<th>Symbol</th>
							<th>Market</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="strategy in strategies">
							<td>{{strategy.action}}</td>
							<td>{{strategy.symbol}}</td>
							<td>{{strategy.market}}</td>
						</tr>
						</tbody>
					</table>
				-->


			</div>
		</li>
	</ul>
</div>
