<p>This is the test view.</p>

<div>
    <p>greeting.text: <span ng-bind="greeting.text"></span></p>
    <p>greeting.time: <span ng-bind="greeting.time"></span></p>
    <p>greeting.ping: <span ng-bind="greeting.ping"></span></p>
    <p>greeting.sod: <span ng-bind="greeting.sod"></span></p>
    <p>greeting.milli: <span ng-bind="greeting.milli"></span></p>
    <p>log: <span id="log"></span></p>
    <p>Page loaded <span am-time-ago="greeting.time"></span></p>
    <p>reply: <span ng-bind="testReply"></span></p>
</div>
